.form {
  text-align: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #272626;
  border: 1px solid #fff;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #d5d5d5;
  border-color: #000000;
  color: #000000;
}
